.depositDisplayEI {
  display: flex;
  font-weight: bold;
  align-items: flex-end;
}

.amount {
  font-size: 80px;
  position: relative;
  bottom: -10px;
}

.currency {
  font-size: 30px;
  margin-left: 10px;
}

.timePeriodSegment {
  width: 25%;
  margin: 0;
}
